@model IEnumerable<SportsEquipmentRental.Models.EquipmentRental>

@{
    ViewBag.Title = "Active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Active rentals</h2>


<table class="table table-bordered table-hover" id="rentals">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Equipment</th>
            <th>Rent date</th>
            <th>Return</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rental in Model)
        {
            <tr>
                <td>@rental.Customer.Name</td>
                <td>@rental.Equipment.Kind - @rental.Equipment.Description</td>
                <td>@rental.RentDate</td>
                <td>@Html.ActionLink("Equipment returned", "ReturnDate", "EquipmentRental", new { id = rental.Id }, null)</td>
                
        </tr>
    }
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function()
        {
            $("#rentals").DataTable();
        })
    </script>

}